# --- Backend Configs (.env di folder backend/) ---
PORT=8000
HOST=0.0.0.0
DATABASE_URL=sqlite:///./phishing_logs.db

# --- Frontend Configs (.env di folder frontend/) ---
BACKEND_API_URL=http://localhost:8000