# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Mac OS System Files
.DS_Store

# Databases
*.db
backend/phishing_logs.db

# IDE & Editor Settings
.vscode/
.idea/

# Environment Variables
.env
*.env
!.env.example